In [1]:
from estnltk import Layer
from estnltk.tests.helpers.text_objects import new_text

Layer.print_start_end = True

In [2]:
new_text(0)

Text(text="")

In [3]:
new_text(1)

Text(text="")

In [4]:
new_text(2)

Text(text="Tere, maailm!")

In [5]:
new_text(3)

Text(text="Tere, maailm!")

In [6]:
new_text(4)

Text(text="Sada kakskümmend kolm. Neli tuhat viissada kuuskümmend seitse koma kaheksa. Üheksakümmend tuhat.")

In [7]:
text_5 = new_text(5)
text_5

Text(text="Sada kakskümmend kolm. Neli tuhat viissada kuuskümmend seitse koma kaheksa. Üheksakümmend tuhat.")

In [8]:
text_5.layer_0

Layer(name=layer_0, spans=SL[Span(Sada, {'attr': 'L0-0', 'attr_0': '100'}),
Span(kaks, {'attr': 'L0-1', 'attr_0': '2'}),
Span(kakskümmend, {'attr': 'L0-2', 'attr_0': '20'}),
Span(kümme, {'attr': 'L0-3', 'attr_0': '10'}),
Span(kolm, {'attr': 'L0-4', 'attr_0': '3'}),
Span( Neli, {'attr': 'L0-5', 'attr_0': '4'}),
Span(tuhat, {'attr': 'L0-6', 'attr_0': '1000'}),
Span(viis, {'attr': 'L0-7', 'attr_0': '5'}),
Span(viissada, {'attr': 'L0-8', 'attr_0': '500'}),
Span(sada, {'attr': 'L0-9', 'attr_0': '100'}),
Span(kuus, {'attr': 'L0-10', 'attr_0': '6'}),
Span(kuuskümmend, {'attr': 'L0-11', 'attr_0': '60'}),
Span(kümme, {'attr': 'L0-12', 'attr_0': '10'}),
Span(seitse, {'attr': 'L0-13', 'attr_0': '7'}),
Span(koma, {'attr': 'L0-14', 'attr_0': ','}),
Span(kaheksa, {'attr': 'L0-15', 'attr_0': '8'}),
Span(Üheksa, {'attr': 'L0-16', 'attr_0': '9'}),
Span(Üheksakümmend, {'attr': 'L0-17', 'attr_0': '90'}),
Span(kümme, {'attr': 'L0-18', 'attr_0': '10'})])

In [9]:
text_5.layer_1

Layer(name=layer_1, spans=SL[AS[Span(Sada, {'attr': 'L1-0', 'attr_1': 'SADA'})],
AS[Span(kaks, {'attr': 'L1-1', 'attr_1': 'KAKS'})],
AS[Span(kakskümmend, {'attr': 'L1-2', 'attr_1': 'KAKS'}), Span(kakskümmend, {'attr': 'L1-2', 'attr_1': 'KÜMME'}), Span(kakskümmend, {'attr': 'L1-2', 'attr_1': 'KAKSKÜMMEND'})],
AS[Span(kümme, {'attr': 'L1-3', 'attr_1': 'KÜMME'})],
AS[Span(kolm, {'attr': 'L1-4', 'attr_1': 'KOLM'})],
AS[Span( Neli, {'attr': 'L1-5', 'attr_1': 'NELI'})],
AS[Span(tuhat, {'attr': 'L1-6', 'attr_1': 'TUHAT'})],
AS[Span(viis, {'attr': 'L1-7', 'attr_1': 'VIIS'})],
AS[Span(viissada, {'attr': 'L1-8', 'attr_1': 'SADA'}), Span(viissada, {'attr': 'L1-8', 'attr_1': 'VIIS'}), Span(viissada, {'attr': 'L1-8', 'attr_1': 'VIISSADA'})],
AS[Span(sada, {'attr': 'L1-9', 'attr_1': 'SADA'})],
AS[Span(kuus, {'attr': 'L1-10', 'attr_1': 'KUUS'})],
AS[Span(kuuskümmend, {'attr': 'L1-11', 'attr_1': 'KUUS'}), Span(kuuskümmend, {'attr': 'L1-11', 'attr_1': 'KÜMME'}), Span(kuuskümmend, {'attr': 'L1-11', 'attr_1': 'KUUSKÜMMEND'})],
AS[Span(kümme, {'attr': 'L1-12', 'attr_1': 'KÜMME'})],
AS[Span(seitse, {'attr': 'L1-13', 'attr_1': 'SEITSE'})],
AS[Span(koma, {'attr': 'L1-14', 'attr_1': 'KOMA'})],
AS[Span(kaheksa, {'attr': 'L1-15', 'attr_1': 'KAHEKSA'})],
AS[Span(Üheksa, {'attr': 'L1-16', 'attr_1': 'ÜHEKSA'})],
AS[Span(Üheksakümmend, {'attr': 'L1-17', 'attr_1': 'ÜHEKSA'}), Span(Üheksakümmend, {'attr': 'L1-17', 'attr_1': 'KÜMME'}), Span(Üheksakümmend, {'attr': 'L1-17', 'attr_1': 'ÜHEKSAKÜMMEND'})],
AS[Span(kümme, {'attr': 'L1-18', 'attr_1': 'KÜMME'})]])

In [10]:
text_5.layer_5

Layer(name=layer_5, spans=SL[AS[ES[AS[Span(Sada, {'attr': 'L1-0', 'attr_1': 'SADA'})],
AS[Span(kaks, {'attr': 'L1-1', 'attr_1': 'KAKS'})]]],
AS[ES[AS[Span(Sada, {'attr': 'L1-0', 'attr_1': 'SADA'})],
AS[Span(kakskümmend, {'attr': 'L1-2', 'attr_1': 'KAKS'}), Span(kakskümmend, {'attr': 'L1-2', 'attr_1': 'KÜMME'}), Span(kakskümmend, {'attr': 'L1-2', 'attr_1': 'KAKSKÜMMEND'})]], ES[AS[Span(Sada, {'attr': 'L1-0', 'attr_1': 'SADA'})],
AS[Span(kakskümmend, {'attr': 'L1-2', 'attr_1': 'KAKS'}), Span(kakskümmend, {'attr': 'L1-2', 'attr_1': 'KÜMME'}), Span(kakskümmend, {'attr': 'L1-2', 'attr_1': 'KAKSKÜMMEND'})]], ES[AS[Span(Sada, {'attr': 'L1-0', 'attr_1': 'SADA'})],
AS[Span(kakskümmend, {'attr': 'L1-2', 'attr_1': 'KAKS'}), Span(kakskümmend, {'attr': 'L1-2', 'attr_1': 'KÜMME'}), Span(kakskümmend, {'attr': 'L1-2', 'attr_1': 'KAKSKÜMMEND'})]]],
AS[ES[AS[Span(Sada, {'attr': 'L1-0', 'attr_1': 'SADA'})],
AS[Span(kakskümmend, {'attr': 'L1-2', 'attr_1': 'KAKS'}), Span(kakskümmend, {'attr': 'L1-2', 'attr_1': 'KÜMME'}), Span(kakskümmend, {'attr': 'L1-2', 'attr_1': 'KAKSKÜMMEND'})],
AS[Span(kolm, {'attr': 'L1-4', 'attr_1': 'KOLM'})]]],
AS[ES[AS[Span( Neli, {'attr': 'L1-5', 'attr_1': 'NELI'})],
AS[Span(tuhat, {'attr': 'L1-6', 'attr_1': 'TUHAT'})]]],
AS[ES[AS[Span(tuhat, {'attr': 'L1-6', 'attr_1': 'TUHAT'})],
AS[Span(viis, {'attr': 'L1-7', 'attr_1': 'VIIS'})]]],
AS[ES[AS[Span(viis, {'attr': 'L1-7', 'attr_1': 'VIIS'})]]],
AS[ES[AS[Span(viissada, {'attr': 'L1-8', 'attr_1': 'SADA'}), Span(viissada, {'attr': 'L1-8', 'attr_1': 'VIIS'}), Span(viissada, {'attr': 'L1-8', 'attr_1': 'VIISSADA'})],
AS[Span(kuuskümmend, {'attr': 'L1-11', 'attr_1': 'KUUS'}), Span(kuuskümmend, {'attr': 'L1-11', 'attr_1': 'KÜMME'}), Span(kuuskümmend, {'attr': 'L1-11', 'attr_1': 'KUUSKÜMMEND'})]], ES[AS[Span(viissada, {'attr': 'L1-8', 'attr_1': 'SADA'}), Span(viissada, {'attr': 'L1-8', 'attr_1': 'VIIS'}), Span(viissada, {'attr': 'L1-8', 'attr_1': 'VIISSADA'})],
AS[Span(kuuskümmend, {'attr': 'L1-11', 'attr_1': 'KUUS'}), Span(kuuskümmend, {'attr': 'L1-11', 'attr_1': 'KÜMME'}), Span(kuuskümmend, {'attr': 'L1-11', 'attr_1': 'KUUSKÜMMEND'})]], ES[AS[Span(viissada, {'attr': 'L1-8', 'attr_1': 'SADA'}), Span(viissada, {'attr': 'L1-8', 'attr_1': 'VIIS'}), Span(viissada, {'attr': 'L1-8', 'attr_1': 'VIISSADA'})],
AS[Span(kuuskümmend, {'attr': 'L1-11', 'attr_1': 'KUUS'}), Span(kuuskümmend, {'attr': 'L1-11', 'attr_1': 'KÜMME'}), Span(kuuskümmend, {'attr': 'L1-11', 'attr_1': 'KUUSKÜMMEND'})]]],
AS[ES[AS[Span(kümme, {'attr': 'L1-12', 'attr_1': 'KÜMME'})],
AS[Span(koma, {'attr': 'L1-14', 'attr_1': 'KOMA'})],
AS[Span(kaheksa, {'attr': 'L1-15', 'attr_1': 'KAHEKSA'})]]],
AS[ES[AS[Span(seitse, {'attr': 'L1-13', 'attr_1': 'SEITSE'})],
AS[Span(koma, {'attr': 'L1-14', 'attr_1': 'KOMA'})],
AS[Span(kaheksa, {'attr': 'L1-15', 'attr_1': 'KAHEKSA'})]]]])